@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  transition: all 180ms linear;
  font-family: Arial, sans-serif;
  margin: 20px;
}
body h1 {
  font-family: "Dancing Script", cursive;
  font-size: 300%;
  text-align: center;
}
body h2 {
  font-family: "Dancing Script", cursive;
  font-size: 100%;
  text-align: center;
  color: rgb(128, 7, 7);
  margin-bottom: 15px;
}

button {
  background-color: #747774;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Dancing Script", cursive;
  transition: all 150ms linear;
}
button:hover {
  background-color: rgb(97, 27, 27);
  color: white;
}

.carousel-container {
  position: relative;
  margin: auto;
  width: 100%;
  overflow: hidden;
}
.carousel-container .carousel {
  margin-top: 60px;
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
@media (max-width: 620px) {
  .carousel-container .carousel {
    margin-top: 1px;
  }
}
.carousel-container .item {
  margin-top: 100px;
  cursor: pointer;
  width: 100%;
  max-width: 800px;
  min-width: 100%;
  max-height: 600px;
  box-sizing: border-box;
  text-align: center;
}
.carousel-container .img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  max-width: 800px;
}
@media (max-width: 620px) {
  .carousel-container .img {
    border-radius: 50%;
  }
}
.carousel-container .text {
  font-family: "Dancing Script", cursive;
  font-size: 200%;
  color: rgb(97, 27, 27);
}
.carousel-container .prev-button,
.carousel-container .next-button {
  position: absolute;
  color: black;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 16px;
  font-family: "Dancing Script", cursive;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
  margin-left: 35px;
  margin-right: 32px;
  transition: all 150ms linear;
}
.carousel-container .prev-button:hover,
.carousel-container .next-button:hover {
  background-color: rgb(97, 27, 27);
  color: white;
}
@media (max-width: 620px) {
  .carousel-container .prev-button,
  .carousel-container .next-button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
  }
}

.prev-button {
  left: 10px;
  margin-left: 35px;
}

.next-button {
  right: 10px;
  margin-right: 32px;
}

main {
  display: flex;
  flex-direction: column;
  transition: 120ms linear;
}

.panier {
  display: none;
  color: transparent;
  transition: all 180ms linear;
}

.carton {
  display: flex;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  align-self: center;
  justify-content: flex-start;
  justify-self: center;
  margin-top: 140px;
  width: 55%;
  height: 560px;
  border-radius: 50px;
  position: fixed;
  z-index: 3;
  background-color: white;
  filter: opacity(85%);
  transition: all 180ms linear;
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
  flex-wrap: wrap;
}
.carton .close {
  position: absolute;
  right: 0;
  margin-right: 3%;
  margin-top: 20px;
  cursor: pointer;
  transition: all 120ms linear;
}
.carton .close:hover {
  animation-name: tourner;
  animation-iteration-count: infinite;
  animation-duration: 1600ms;
  animation-timing-function: linear;
  filter: brightness(0) saturate(100%) invert(26%) sepia(96%) saturate(3677%) hue-rotate(346deg) brightness(100%) contrast(98%);
}
@keyframes tourner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.carton .title {
  font-size: 56px;
  margin-top: 20px;
  width: 100%;
  top: 0%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 0%;
}
.carton .item {
  display: flex;
  justify-content: left;
  flex-direction: column;
  height: 300px;
  position: relative;
  margin-top: 0%;
  list-style: none;
  overflow-y: hidden;
  margin-left: 5%;
}
.carton li {
  font-size: 18px;
  margin-left: 0;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: left;
}

.food {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}
@media (max-width: 620px) {
  .food {
    justify-content: center;
    margin-top: 100px;
  }
}
.food__card {
  display: flex;
  width: 18rem;
  height: 340px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  transition: all 180ms linear;
  border-radius: 25px;
  vertical-align: text-top;
  align-items: flex-start;
  align-content: start;
  background-color: white;
}
@media (max-width: 620px) {
  .food__card {
    width: 23rem;
    height: 400px;
  }
}
.food__card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.food__card__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 55%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.food__card__title {
  width: 100%;
  text-align: start;
  font-size: 22px;
  padding-left: 10px;
  padding-top: 0px;
  margin-bottom: 0;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 5px;
}
.food__card__price {
  width: 100%;
  text-align: start;
  font-size: 15px;
  margin-top: 0;
  padding-left: 10px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 3px;
}
.food__card__ing {
  display: flex;
  width: 100%;
  height: 30px;
  flex-wrap: wrap;
}
.food__card__ing__ingredient {
  display: flex;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 0;
  font-size: 11px;
  height: 14px;
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 0%;
  width: -moz-fit-content;
  width: fit-content;
  background-color: lightgray;
  border-radius: 15px;
  cursor: pointer;
  transition: all 100ms linear;
}
.food__card__ing__ingredient:hover {
  background-color: #FF7F7F;
  color: white;
}
.food__card__cart {
  display: flex;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  align-self: end;
  height: 28px;
  margin-top: 20px;
  align-items: center;
  font-size: 18px;
  font-family: "Kalnia", serif;
  background-color: lightgrey;
  color: black;
  transition: all 125ms linear;
  position: relative;
  margin-bottom: 10px;
}
.food__card__cart:hover {
  background-color: #88AB8E;
  color: white;
}

.Sbutton {
  margin-top: 80px;
}

.nav {
  position: fixed;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #F9F5F6;
  left: 0;
  top: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding-bottom: 10px;
  transition: all 200ms linear;
}
.nav__cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  position: absolute;
  right: 0;
  margin-right: 85px;
  margin-top: 5px;
  background-color: transparent;
}
@media (max-width: 620px) {
  .nav__cart {
    left: 0;
    margin-left: 25px;
  }
}
.nav__cart:hover {
  background-color: transparent;
}
.nav__cart .cart {
  width: 60px;
  height: 60px;
}
.nav .darkModeToggle {
  width: 60px;
  height: 50px;
  position: absolute;
  right: 0;
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-top: 5px;
}
.nav .darkModeToggle .svg {
  width: 60px;
  height: 60px;
}
.nav .darkModeToggle .dark {
  display: none;
}
.nav__title {
  margin-bottom: 0;
}
.nav__titleb {
  position: absolute;
  bottom: 0;
  margin-bottom: 7px;
}

.dark-mode {
  background-color: #222831;
  color: white;
}
.dark-mode .carton {
  background-color: #181c22;
  filter: opacity(85%);
}
.dark-mode .carton .close {
  filter: invert(100%);
}
.dark-mode .carton .title {
  color: white;
}
.dark-mode .carton .item {
  color: white;
}
.dark-mode .nav {
  background-color: #181c22;
}
.dark-mode .nav h2 {
  color: #ff0000;
}
.dark-mode .nav__cart {
  filter: invert(100%);
}
.dark-mode .nav .darkModeToggle .dark {
  display: inline;
  filter: invert(100%);
}
.dark-mode .nav .darkModeToggle .light {
  display: none;
}
.dark-mode .nav .fooda .carousel-container .carousel .text {
  color: white;
}
.dark-mode .item {
  border-color: transparent;
}
.dark-mode .prev-button {
  background-color: #393E46;
  margin-left: 35px;
  color: white;
  transition: all 200ms linear;
}
.dark-mode .prev-button:hover {
  background-color: #9ca3ad;
}
.dark-mode .next-button {
  background-color: #393E46;
  margin-right: 32px;
  transition: all 200ms linear;
  color: white;
}
.dark-mode .next-button:hover {
  background-color: #9ca3ad;
}
.dark-mode .food__card {
  background-color: #393E46;
}
.dark-mode .food__card:hover {
  box-shadow: rgba(255, 255, 255, 0.5) 0px 3px 8px;
}
.dark-mode .food__card__ing__ingredient {
  background-color: #9ca3af;
  color: #222831;
}
.dark-mode .food__card__ing__ingredient:hover {
  background-color: #FF7F7F;
  color: white;
}/*# sourceMappingURL=style.css.map */