main {
    display: flex;
    flex-direction: column;
    transition: 120ms linear;
}

.panier {
    display: none;
    color: transparent;
    transition: all 180ms linear;
}


.carton {
    display: flex;
    color: black;
    height: fit-content;
    align-self: center;
    justify-content: center;
    justify-self: center;
    margin-top: 140px;
    width: 55%;
    height: 560px;
    border-radius: 50px;
    position: fixed;
    z-index: 3;
    background-color: white;
    filter: opacity(85%);
    transition: all 180ms linear;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    flex-wrap: wrap;

    & .close {
        position: absolute;
        right: 0;
        margin-right: 3%;
        margin-top: 20px;
        cursor: pointer;
    }

    & .title {
        font-size: 56px;
        margin-top: 20px;
        width: 100%;
        top: 0%;
        height: fit-content;
        margin-bottom: 0%;
    }

    & .item {
        display: flex;
        justify-content: left;
        flex-direction: column;
        height: 300px;
        position: relative;
        margin-top: 0%;
        list-style: none;
        overflow-y: hidden;
    }

    & li {
        font-size: 18px;
        margin-left: 4.5%;
        width: fit-content;
        justify-self: left;
    }
}