main {
    display: flex;
    flex-direction: column;
    transition: 120ms linear;
}

.panier {
    display: none;
    color: transparent;
    transition: all 180ms linear;
}


.carton {
    display: flex;
    color: black;
    height: fit-content;
    align-self: center;
    justify-content: flex-start;
    justify-self: center;
    margin-top: 140px;
    width: 55%;
    height: 560px;
    border-radius: 50px;
    position: fixed;
    z-index: 3;
    background-color: white;
    filter: opacity(85%);
    transition: all 180ms linear;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    flex-wrap: wrap;

    & .close {
        position: absolute;
        right: 0;
        margin-right: 3%;
        margin-top: 20px;
        cursor: pointer;
        transition: all 120ms linear;

        &:hover {
            animation-name: tourner;
            animation-iteration-count: infinite;
            animation-duration: 1600ms;
            animation-timing-function: linear;
            filter: brightness(0) saturate(100%) invert(26%) sepia(96%) saturate(3677%) hue-rotate(346deg) brightness(100%) contrast(98%);
        }

        @keyframes tourner {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }

    & .title {
        font-size: 56px;
        margin-top: 20px;
        width: 100%;
        top: 0%;
        height: fit-content;
        margin-bottom: 0%;
    }

    & .item {
        display: flex;
        justify-content: left;
        flex-direction: column;
        height: 300px;
        position: relative;
        margin-top: 0%;
        list-style: none;
        overflow-y: hidden;
        margin-left: 5%;
    }

    & li {
        font-size: 18px;
        margin-left: 0;
        width: fit-content;
        justify-self: left;
    }
}